ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

ul:hover {
    background-color: rgba(46, 47, 66, 0.8);;
}

.gallery-image {
    width: 360px;
    height: 200px;
    padding: 12px;
    
}
li:hover{
    cursor: pointer;
}
