body{
    background-color: #F5F5F5;
    margin: 0 auto;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 24px; 
    cursor: pointer #4E75FF;
}

.gallery-item {
 list-style-type: none;
}

.gallery-image{
    width: 360px;
    height: 200px;
}